/* Importing Fonts */

@font-face {
  font-family: "FiraCode";
  src: url(Fonts/firacode-webfont.woff2) format('woff2'),
       url(Fonts/firacode-webfont.woff) format('woff');
}

@font-face {
  font-family: "Syne";
  src: url(Fonts/syne-webfont.woff2) format('woff2'),
       url(Fonts/syne-webfont.woff) format('woff');
}

@font-face {
  font-family: "Truculenta";
  src: url(Fonts/truculenta-webfont.woff2) format('woff2'),
       url(Fonts/truculenta-webfont.woff) format('woff');
}

/* Css querry */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #0c0c0c;
  background-image: url(Assets/topography.svg);
}

.body2 {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

/* fade in animation of mainpage */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #24303880;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253139;
}

/* Hello there page css */

.mainpage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content-wrap {
  font-family: "Truculenta";
  font-size: 120px;
  color: #f0f8ff;
  display: inline-flex;
}

.fly-in-hello {
  list-style: none;
}

.fly-in-there {
  list-style: none;
}

.fly-in-hello li {
  display: inline-flex;
  margin: 0 10px;
  opacity: 1;
  transition: all 3s ease;
}

.fly-in-there li {
  display: inline-flex;
  margin: 0 10px;
  opacity: 1;
  transition: all 3s ease;
}

.fly-in-hello .extraspace {
  margin: 0 20px;
}

.enter-button {
  font-family: "Syne";
  display: block;
  text-align: center;
  font-size: 4vh;
  color: #9fef00;
  text-decoration: none;
  opacity: 1;
  margin-top: 30px;
  transition: all 1s ease 3s;
}

.content-hidden .fly-in-hello li {
  opacity: 0;
}

.content-hidden .fly-in-there li {
  opacity: 0;
}

.content-hidden .fly-in-hello li:nth-child(1) {
  transform: translate3d(-90px, 0, 0);
}

.content-hidden .fly-in-hello li:nth-child(2) {
  transform: translate3d(-70px, 0, 0);
}

.content-hidden .fly-in-hello li:nth-child(3) {
  transform: translate3d(-50px, 0, 0);
}

.content-hidden .fly-in-hello li:nth-child(4) {
  transform: translate3d(-30px, 0, 0);
}

.content-hidden .fly-in-hello li:nth-child(5) {
  transform: translate3d(-10px, 0, 0);
}

.content-hidden .fly-in-hello li:nth-child(6) {
  transform: translate3d(0px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(1) {
  transform: translate3d(10px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(2) {
  transform: translate3d(30px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(3) {
  transform: translate3d(50px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(4) {
  transform: translate3d(70px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(5) {
  transform: translate3d(90px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(6) {
  transform: translate3d(110px, 0, 0);
}

.content-hidden .enter-button {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -30px, 0);
}

/* Navigation bar */

nav {
  position: fixed;
  width: 100%;
  line-height: 6vh;
  z-index: 2;
  overflow: hidden;
}

nav ul {
  line-height: 6vh;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  transition: 0.5s;
}

nav.black ul {
  background: rgba(0, 0, 0, 0.9);
}

nav ul li {
  display: inline-block;
  padding: 1.8vh 4vw;
}

nav ul li a {
  text-decoration: none;
  font-family: "Syne";
  color: #f0f8ff;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0.15rem;
}

.spinner {
  top: 0;
  position: fixed;
  padding: 2vh 1.5vw;
}

.spinner > div {
  margin-left: 0.5vw;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  background-color: #f51d1d;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  background-color: #fc950b;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner .bounce3 {
  background-color: #36d524;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.menu-icon {
  position: absolute;
  margin: 3vh;
  right: 0;
  display: none;
}

.wrapper-menu {
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #f0f8ff;
  border-radius: 5px;
  width: 100%;
  height: 3.5px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(1.5px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

.menu-bar {
  height: 9vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  color: #f0f8ff;
  display: none;
}

/* Homepage */

.header-main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Syne";
  font-size: 6vh;
  letter-spacing: 0.25em;
  color: #f0f8ff;
}

.header-main h1:last-child {
  font-family: "Truculenta";
  padding-top: 20px;
}

/*main container*/

.container {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.container-box {
  width: 50em;
  height: fit-content;
}

/*about me section*/

.about-me {
  padding-top: 10vh;
  font-family: "Syne";
}

.header h1 {
  font-family: "FiraCode";
  text-align: left;
  color: #7e57c2;
  font-size: 70px;
  letter-spacing: 5mm;
}

.about-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-img img {
  width: 65%;
}

.about-txt {
  text-align: justify;
  color: #f0f8ff;
}

.about-txt h3 {
  font-size: 28px;
  letter-spacing: 1mm;
}

.about-txt p {
  font-weight: 200;
  font-size: 25px;
  letter-spacing: 0.5mm;
  line-height: 15mm;
}

/*Skills section*/

.skill {
  padding-top: 10vh;
}

.skill h2 {
  font-family: "FiraCode";
  font-size: 60px;
  color: #7e57c2;
  letter-spacing: 5mm;
  text-align: left;
  padding-bottom: 5vh;
}

.skill-bars {
  width: auto;
}

.skill-bars .bar {
  margin: 40px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 20px;
}

.skill-bars .bar .info span {
  font-family: "Syne";
  font-weight: 600;
  font-size: 20px;
  color: #f0f8ff;
  letter-spacing: 0.6mm;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #253139;
  position: relative;
  transform: scaleX(0);
  transform-origin: center;
  border-radius: 10px;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.skill-bars .bar .progress-line[data-scroll="in"] {
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: center;
  background: linear-gradient(25deg, #7e57c2, #a987e2);
}

.bar .progress-line span[data-scroll="in"] {
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.Python span {
  width: 80%;
}

.bar .progress-line.Html-css span {
  width: 65%;
}

.bar .progress-line.Linux span {
  width: 75%;
}

.bar .progress-line.C span {
  width: 25%;
}

.bar .progress-line.mysql span {
  width: 35%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -12px;
  right: 0;
  border: 7px solid transparent;
  border-right-width: 0px;
  border-top-color: #f8f8f8;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -27px;
  right: 0;
  font-family: "Syne";
  background: #f8f8f8;
  color: #111;
  padding: 2px 10px;
  letter-spacing: .5px;
  font-size: 13px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.Python span::after {
  content: "Intermediate";
}

.progress-line.Html-css span::after {
  content: "Intermediate";
}

.progress-line.Linux span::after {
  content: "Intermediate";
}

.progress-line.C span::after {
  content: "Beginner";
}
.progress-line.mysql span::after {
  content: "Beginner";
}

/* Projects Section*/

.projects h1 {
  font-family: "FiraCode";
  font-size: 60px;
  color: #7e57c2;
  letter-spacing: 5mm;
  text-align: left;
  padding: 10vh 0 3vh 0;
}

.projects p {
  font-family: "Syne";
  font-size: 25px;
  color: #f0f8ff;
  text-align: justify;
  letter-spacing: 0.5mm;
  line-height: 15mm;
}

/*Contacts Section*/

.contacts {
  display: flex;
  margin: 10vh 0;
  color: #f0f8ff;
  justify-content: center;
  text-decoration: none;
}

.contacts ul {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.contacts ul li:last-child {
  display: inline-flex;
}


.contacts .icon-soc {
  display: flex;
  padding: 5px 20px;
  align-self: center;
}

.contacts .iconify {
  display: block;
  font-size: 40px;
  color: #f0f8ff;
}

.contacts h5 {
  font-family: "FiraCode";
  font-weight: 300;
  font-size: 40px;
  letter-spacing: normal;
  padding-right: 20px;
}

/* tooltip for contacts */

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
  font-family: "Syne";
  letter-spacing: 0.3mm;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  opacity: 0;
  transition: 0.5s ease-in-out;
  visibility: hidden;
}

.tooltip:hover:before {
  opacity: 1;
  visibility: visible;
}

.tooltip:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  border: 10px solid #fafafa;
  border-color: #fafafa transparent transparent transparent;
  opacity: 0;
  transition: 0.5s ease-in-out;
  visibility: hidden;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}

/*Footer*/

footer {
  display: grid;
  width: 100%;
  justify-content: center;
  background-color: #111111;
  padding: 20px;
  font-family: "FiraCode";
  color: #f0f8ff;
}

/* Media Queries */

@media screen and (max-width: 1100px) {
  nav ul li a {
    font-size: 20px;
  }
  
  .contacts ul {
    display: block;
  }
  
  .contacts ul li:last-child {
    margin-top: 50px;
  }
}

@media screen and (max-width: 786px) {
  body{
    background-color: #0e0e0e;
  }

  /* welcome page */

  .content-wrap {
    font-size: 15vw;
    display: inline-block;
  }

  .fly-in-there {
    margin-top: 25px;
  }

  .content-hidden .fly-in-hello li:nth-child(1) {
    transform: translate3d(-50px, 0, 0);
  }

  .content-hidden .fly-in-hello li:nth-child(2) {
    transform: translate3d(-50px, 0, 0);
  }

  .content-hidden .fly-in-hello li:nth-child(3) {
    transform: translate3d(-25px, 0, 0);
  }

  .content-hidden .fly-in-hello li:nth-child(4) {
    transform: translate3d(0, 0, 0);
  }

  .content-hidden .fly-in-hello li:nth-child(5) {
    transform: translate3d(25px, 0, 0);
  }

  .fly-in-hello .extraspace {
    margin: 0 0;
  }

  .fly-in-hello .hello-h {
    margin-left: 25px;
  }

  .content-hidden .fly-in-there li:nth-child(1) {
    transform: translate3d(-50px, 0, 0);
  }

  .content-hidden .fly-in-there li:nth-child(2) {
    transform: translate3d(-25px, 0, 0);
  }

  .content-hidden .fly-in-there li:nth-child(3) {
    transform: translate3d(0, 0, 0);
  }

  .content-hidden .fly-in-there li:nth-child(4) {
    transform: translate3d(25px, 0, 0);
  }

  .content-hidden .fly-in-there li:nth-child(5) {
    transform: translate3d(50px, 0, 0);
  }

  .content-hidden .fly-in-there li:nth-child(6) {
    transform: translate3d(75px, 0, 0);
  }

  /* drop down nav-bar */

  nav ul {
    max-height: 0;
    background: rgba(0, 0, 0, 0.9);
  }

  nav ul li a {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.15rem;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 18px;
    text-align: center;
  }

  .showing {
    max-height: 30em;
  }

  .menu-bar {
    display: block;
  }

  .menu-icon {
    display: block;
    font-size: 30px;
  }

  /* container */

  .container-box {
    margin: 5vw;
  }

  .header-main {
    text-align: center;
    font-size: 4vh;
    letter-spacing: 0.25em;
  }

  .header-main h1:last-child {
    position: absolute;
    bottom: 35%;
  }

  .header h1 {
    font-size: 8vh;
    text-align: center;
    letter-spacing: 1.2mm;
  }

  .about-img {
    justify-content: center;
    overflow: hidden;
  }

  .about-img img {
    width: 70%;
  }

  .about-txt h3 {
    font-size: 24px;
    letter-spacing: 1mm;
  }

  .about-txt p {
    font-size: 20px;
  }

  .skill h2 {
    text-align: center;
    font-size: 8vh;
    letter-spacing: 2mm;
  }

  .skill-bars .bar .info span {
    font-size: 17px;
  }

  .projects h1 {
    text-align: center;
    font-size: 8vh;
    letter-spacing: 2mm;
  }

  .projects p {
    font-size: 20px;
  }

  .contacts ul {
    display: block;
  }

  .contacts h5 {
    font-size: 5.5vw;
    padding-right: 0;
  }

  .contacts .iconify {
    font-size: 30px;
  }

  footer {
    font-size: 10px;
    padding: 15px;
  }
}

/* ScrollOut animations */

[data-scroll] {
  transition: opacity 0.6s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}